<!DOCTYPE html>
<html lang="en" ng-app="SureGrip">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="main.css"/>

    <script src="Scripts/main.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <title>Sure Grip</title>
</head>
<body>

    <div class="container">
        <div class="nav">
            <ul>
                <div class="logo">
                    <img src="imgs/fllogo4.png"/>
                    <h1>SURE GRIP</h1>
                    <p>Innovative Driving Solutions</p>
                </div>
                <li><a href="techlogin.html">Tech Login</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="rehabilitationlocator.html">Rehabilitation Locator</a></li>
                <li><a href="dealerlocator.html">Dealer Locator</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="#"><img src="imgs/search.png"/></a></li>
            </ul>
        </div>
    </div>
    </br>
    <div class="formcontainer">

        <h1>Email the Sure Grip Team</h1>

        <div class="emailform">
            <label for="firstname">First Name:</label>
            <input type="text"
                   class="formcontrol"
                   ng-model="formModel.firstname"
                   id="firstname">
        </div>
        </br>
        <div class="emailform">
            <label for="lastname">Last Name:</label>
            <input type="text"
                   class="formcontrol"
                   ng-model="formModel.lastname"
                   id="lastname">
        </div>
        </br>
        <div class="emailform">
            <label for="email">Your Email:</label>
            <input type="email"
                   class="formcontrol"
                   ng-model="formModel.email"
                   id="email">
        </div>
        </br>
        <div class="emailform">
            <label for="message">Message:</label>
            <textarea type="text"
                      class="formcontrol"
                      ng-model="formModel.message"
                      id="message"
                      rows="5"
                      cols="50">
            </textarea>
        </div>
        </br>
        <div class="emailform">
            <button>Send Email</button>
        </div>
        </br>
    </div>
    </br>

    <div class="buttons">
        <a href="#"><button>Submit Warranty</button></a>
        <a href="#"><button>Dealer Locator</button></a>
        <a href="#"><button>Order Recreation Controls</button></a>
        <a href="email.html"><button>Email Sure Grip</button></a>
    </div>
    </br>

    <footer class="social">
        <section>
            </br>
            </br>
            <p>Join Us on Social Media!</p>
            <a href="https://www.facebook.com"><img src="imgs/facebook-128.png"/></a>
            <a href="https://www.twitter.com"><img src="imgs/twitter-128.png"/></a>
            <a href="https://www.youtube.com"><img src="imgs/youtube-128.png"/></a>
            <a href="https://www.instgram.com"><img src="imgs/instagram-128.png"/></a>
            <p>Let Us Know What's on Your Mind</p>
        </section>
    </footer>

</body>
</html>