html, body{
    padding: 0;
    margin: 0;
}

body h1, p, ul, li {
    font-family: Arial, Helvetica,sans-serif;
}

.container {
    width: 1100px;
    margin: auto;
    background-color: white;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2F2F2;
    border-radius: 5px;
}

.nav > ul > li {
    float: right;
}

.nav  li  a {
    display: block;
    color: #555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

.nav li a img {
    display: block;
    height: 15px;
    width: auto;
    padding:0;
}

.nav ul a:hover:not(.active) {
    background-color: #F7D358;
}

.nav .active {
    background-color: #819FF7;
}

.logo > h1 {
    float: left;
    display: block;
    color: #0059b3;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 0 0 0;
    text-decoration: none;
    font-size: 20px;
}

.logo > a > img{
    display: block;
    float:left;
    padding: 5px 0 0 0;
    margin: 0;
    height: 35px;
    width: auto;
}

.logo > p{
    display: block;
    float: left;
    padding: 15px 0 5px 10px;
    margin: 0;
}

.carry {
    width: 1100px;
    margin: auto;
    height: 350px;
}

.shadow {
    display: block;
    margin: auto;
    padding: 0;
}

.products {
    width: 1100px;
    margin: auto;
    text-align: center;
}

.products > section {
    display: inline-block;
    width: 28%;
    margin: auto;
    border: 1px;
    padding: 2%;
    font-size: 13px;
}

.products > section > img {
    display: block;
    margin: auto;
}

.products > section > h1 {
    text-align: center;
    color: #0059b3;
}

.products > section > a > h1 {
    text-align: center;
    color: #0059b3;
}

.products > section > p {
    width: 80%;
    margin: auto;
}

.products > section > img {
    height: 183px;
    width: 275px;
}

.outside {
    background-color: #819FF7;
    border-radius: 5%;
}

.inside {
    background-color: #F7D358;
    border-radius: 5%;
}

.social{
    background-color: #819FF7;
    width: 1100px;
    margin: auto;
    text-align: center;
    bottom: auto;
}

.social > section {
    color: white;
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 28%;
}

.social > section > p {
    display: block;
    margin: auto;
    padding: 10px 0 20px 10px;
    text-align: center;
}

.social > section {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.social > section > a > img {
    height: 35px;
    display: inline-block;
    margin: auto;
}

.buttons {
    width: 1100px;
    margin: auto;
    text-align: center;
}

.buttons > a > button {
    display: inline-block;
    margin: auto;
    width: 23%;
    padding: 1%;
    color: #555;
    font-size: 15px;
    background-color: #F7D358;
    border: none;
    box-shadow: 0 8px 16px 0 #555555;
}

.buttons > a > button:hover{
    background-color: #0059b3;
    color: white;
}

.footlogo {
    margin: auto;
}

/*The following are styles for the about page.*/

.about{
    width: 1100px;
    margin: auto;
}

.about > section {
    display: inline-block;
    margin: auto;
    width: 45%;
    font-size: 13px;
}

.about > section > h1 {
    color: #0059b3;
}

/* The following styles are for the email page */

.formcontainer {
    display: block;
    margin:auto;
    text-align: center;
    width: 60%;
    padding: 20px 0 0 0;
    border: solid;
    border-color: #0059b3;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 13px;
}

.formcontainer > h1 {
    color: #0059b3;
}

.emailform {
    padding: 0 0 5px 0;
}

.emailform > label {
    float: left;
    padding: 0 0 0 20px;
}

.emailform > button {
    background-color: #0059b3;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    width: 30%;
}

.emailform > button:hover {
    background-color: #819FF7;
}

#message {
    width: 70%;
}

.emailform > input {
    float: left;
    width: 25%;
    margin-left: 8%;
}
